TCP support

[RFC 7766] says it's a requirement:
> Section 6.1.3.2 of [RFC1123] is updated: All general-purpose DNS
> implementations MUST support both UDP and TCP transport.

[RFC 7766]: https://tools.ietf.org/html/rfc7766